[uiStyle="inPortText"] {
    stroke: rgb(229, 235, 255);
    fill: rgb(229, 235, 255);
    stroke-width: 0.1px;
}

[uiStyle="outPortText"] {
    stroke: rgb(231, 255, 229);
    fill: rgb(231, 255, 229);
    stroke-width: 0.1px;
}

[uiStyle="inPortIcon"] {
    stroke: rgb(229, 235, 255);
    fill: rgb(77, 77, 77);
    stroke-width: 1.5px;
}

[uiStyle="inPortIcon"]:hover {
    stroke: rgb(238, 238, 253);
    fill: rgb(178, 185, 255);
    stroke-width: 1.5px;
}

[uiStyle="outPortIcon"] {
    stroke: rgb(231, 255, 229);
    fill: rgb(77, 77, 77);
    stroke-width: 1.5px;
}

[uiStyle="outPortIcon"]:hover {
    stroke: rgb(247, 255, 247);
    fill: rgb(177, 250, 196);
    stroke-width: 1.5px;
}

[uiStyle="inPortDefault"] {
    color: rgb(229, 235, 255);
    fill: rgb(47, 46, 48);
    border:rgb(66, 66, 66);
    stroke-width: 1px;
    border-style: solid;
    border-width: 1px;
}

[uiStyle="inPortDefault"]:hover {
    color: rgb(229, 235, 255);
    fill: rgb(47, 46, 48);
    border:rgb(224, 223, 223);
    stroke-width: 1px;
    border-style: solid;
    border-width: 1px;
}

[uiStyle="nodeTitle"] {
    stroke: rgb(238, 238, 238);
    fill: rgb(238, 238, 238);
    stroke-width: 0.1px;
}

[uiStyle="node"] {
    stroke: rgb(19, 19, 19);
    stroke-width: 2px;
    fill:rgb(47, 46, 48);
}

[uiStyle="node"]:hover {
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    fill:rgb(51, 50, 53);
}

[uiStyle="node"]:hover:active {
    stroke: rgb(32, 32, 32);
    stroke-width: 3px;
}

[uiStyle="connectLine"] {
    stroke: rgb(235, 124, 124);
    stroke-width: 3px;
}

[uiStyle="connectCompleteLine"]:hover {
    stroke: rgb(227, 230, 241);
    stroke-width: 3px;
}

[uiStyle="connectCompleteLine"] {
    stroke: rgb(175, 175, 175);
    stroke-width: 1.5px;
}

[uiStyle="assetItem"] {
    stroke: rgb(166, 166, 196);
    fill: rgb(166, 166, 196);
    stroke-width: 0.0px;
}

[uiStyle="assetLib"] {
    stroke: rgb(34, 23, 51);
    fill:rgb(70, 69, 92);
    stroke-width: 1px;
}

[uiStyle="assetItem"]:hover {
    stroke: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    stroke-width: 0.5px;
}