[uiStyle="inPortText"] {
    stroke: rgb(229, 235, 255);
    fill: rgb(229, 235, 255);
    stroke-width: 0.1px;
}

[uiStyle="outPortText"] {
    stroke: rgb(231, 255, 229);
    fill: rgb(231, 255, 229);
    stroke-width: 0.1px;
}

[uiStyle="inPortIcon"] {
    stroke: rgb(229, 235, 255);
    fill: rgb(77, 77, 77);
    stroke-width: 1.5px;
}

[uiStyle="outPortIcon"] {
    stroke: rgb(231, 255, 229);
    fill: rgb(77, 77, 77);
    stroke-width: 1.5px;
}

[uiStyle="inPortDefault"] {
    color: rgb(229, 235, 255);
    fill: rgb(47, 46, 48);
    border:rgb(66, 66, 66);
    stroke-width: 1px;
    border-style: solid;
    border-width: 1px;
}

[uiStyle="nodeTitle"] {
    stroke: rgb(238, 238, 238);
    fill: rgb(238, 238, 238);
    stroke-width: 0.1px;
    font-size: 16px;
}

[uiStyle="node"] {
    stroke: rgb(19, 19, 19);
    stroke-width: 2px;
    fill:rgb(47, 46, 48);
}

[uiStyle="connectLine"] {
    stroke: rgb(211, 211, 211);
    stroke-width: 2px;
}

[uiStyle="assetItem"] {
    stroke: rgb(10, 10, 10);
    stroke-width: 0.5px;
}

[uiStyle="assetItem"]:hover {
    stroke: rgb(107, 63, 63);
    fill: rgb(107, 63, 63);
}